<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/home.css">
    <title>HOME</title>
</head>
<body>
<div class="nav">
    <div class="nav__left">
        <a>LisaGU</a>
    </div>
    <div class="nav__right">
        <a class="nav__button" href=''>Home</a>
        <a class="nav__button" href=''>Resume</a>
        <a class="nav__button" href=''>Services</a>
        <a class="nav__button" href=''>Blog</a>
        <a class="nav__button" href=''>Contact</a>
    </div>
</div>
<div class="card">
    <div class="card-top">
        <img class="avatar" src="../assets/img/photo.png" alt="photo"/>
        <div class="personal__info">
            <div class="personal__info__name">Lisa GU</div>
            <div class="personal__info__title">Frontend Developer</div>
            <div class="personal__info__contacts">
                <img class="personal__info__contacts__icon" src="../assets/img/facebook-brands.svg" alt=""/>
                <img class="personal__info__contacts__icon" src="../assets/img/square-instagram-brands.svg" alt=""/>
                <img class="personal__info__contacts__icon" src="../assets/img/twitter-brands.svg" alt=""/>
            </div>
        </div>
    </div>
    <div class="card_bottom">
        <div class="card_bottom_AboutMe">
            <div class="card_bottom_AboutMe_title">
                <span>About</span>
                <apan class="card_bottom_AboutMe_Me">Me</apan>
            </div>
            <div class="card_bottom_AboutMe_introduction">
                <p>Hello, I am Lisa GU. I am learning about the web development skills now. If you have any job
                    position, feel free to get in touch.
                    If you want to follow me in GitHub, please click the link in right->.
                    Wish we can work together in future.
                </p>
            </div>

        </div>
        <div class="card_bottom__personalInfo">
            <table>
                <tr>
                    <td>Age</td>
                    <td>29</td>
                </tr>
                <tr>
                    <td>Residence</td>
                    <td>Australian</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>3 Finch Dr Eastgardens, Sydney</td>
                </tr>
                <tr>
                    <td>e-mail</td>
                    <td>guwenqian10@gmail.com</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>0404148267</td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>